In [75]:
%pip install sqlalchemy pymysql pandas

Requirement already satisfied: sqlalchemy in /opt/homebrew/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: pymysql in /opt/homebrew/anaconda3/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: pandas in /opt/homebrew/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd 
from sqlalchemy import create_engine

In [4]:
# 1. Koneksi ke database
engine = create_engine("mysql+pymysql://root:7f8d9bx4@localhost:3306/wilayah")

In [5]:
# 2. Query data dari database
query = "SELECT kode, nama FROM wilayah"
df = pd.read_sql_query(query, engine)

In [6]:
# Tampilkan
print(df.head())

            kode                   nama
0  74.01.01.1001            19 Nopember
1       13.05.04  2 x 11 Anam Lingkuang
2       13.05.15      2 x 11 Kayu Tanam
3  12.71.15.1001                  A u r
4  63.05.01.2006           A. Yani Pura

# buat file csv

In [15]:
file_name = "reg_provinces"
all_data = []

for i in range(93, 97):
    prefix = f"{i}"
    query = "SELECT kode, nama FROM wilayah WHERE kode = %s"
    df = pd.read_sql_query(query, engine, params=(prefix,))
    if df.empty:
        print(f"Tidak ada data untuk kode {prefix}")
        continue
    df['kode_peta'] = None
    df = df.rename(columns={'kode': 'id', 'nama': 'name'})
    df = df[['id', 'name', 'kode_peta']]
    all_data.append(df)

# Gabungkan semua dataframe
df_regencies = pd.concat(all_data, ignore_index=True)

# Simpan ke file tanpa imbuhan prefix i
df_regencies.to_csv(f"{file_name}.csv", index=False, encoding='utf-8')

print(f"Data seluruh regencies disimpan ke {file_name}.csv. Jumlah baris: {len(df_regencies)}")

Data seluruh regencies disimpan ke reg_provinces.csv. Jumlah baris: 4

In [80]:
file_name = "reg_regencies"
all_data = []

for i in range(93, 97):
    prefix = f"{i}.%"
    query = "SELECT kode, nama FROM wilayah WHERE kode LIKE %s AND CHAR_LENGTH(kode) = 5"
    df = pd.read_sql_query(query, engine, params=(prefix,))

    df['kode'] = df['kode'].str.replace('.', '', regex=False)
    df['province_id'] = str(i)
    df = df.rename(columns={'kode': 'id', 'nama': 'name'})
    df = df[['id', 'province_id', 'name']]
    all_data.append(df)

# Gabungkan semua dataframe
df_regencies = pd.concat(all_data, ignore_index=True)

# Simpan ke file tanpa imbuhan prefix i
df_regencies.to_csv(f"{file_name}.csv", index=False, encoding='utf-8')

print(f"Data seluruh regencies disimpan ke {file_name}.csv. Jumlah baris: {len(df_regencies)}")

Data seluruh regencies disimpan ke reg_regencies.csv. Jumlah baris: 26

In [81]:
import pandas as pd

table_name = "reg_regencies"
file_name = f"1.{table_name}"
csv_file = f"{table_name}.csv"

# Baca file CSV
df = pd.read_csv(csv_file)

# Buat list untuk menampung query insert
sql_statements = []

for _, row in df.iterrows():
    id_val = row['id']
    province_id_val = row['province_id']
    name_val = row['name'].replace("'", "''")  # Escape tanda kutip tunggal

    sql = f"INSERT INTO {table_name} (id, province_id, name) VALUES ('{id_val}', '{province_id_val}', '{name_val}');"
    sql_statements.append(sql)

# Simpan ke file .sql
sql_file_name = f"{file_name}.sql"
with open(sql_file_name, "w", encoding="utf-8") as f:
    f.write("\n".join(sql_statements))

print(f"File SQL berhasil dibuat: {sql_file_name}")

File SQL berhasil dibuat: 1.reg_regencies.sql

In [82]:
file_name = "reg_districts"
all_data = []
# Loop prefix dari 93 sampai 96
for i in range(93, 97):  # 97 karena range atas eksklusif
    prefix = f"{i}.%"
    query = "SELECT kode, nama FROM wilayah WHERE kode LIKE %s AND CHAR_LENGTH(kode) = 8"
    df = pd.read_sql_query(query, engine, params=(prefix,))

    # Hapus karakter titik pada kolom 'kode'
    df['kode'] = df['kode'].str.replace('.', '', regex=False)

    # Tambahkan kolom regency_id dari 4 digit pertama kolom 'kode'
    df['regency_id'] = df['kode'].str[:4]

    # Ubah nama kolom
    df = df.rename(columns={'kode': 'id', 'nama': 'name'})

    # Urutkan kolom
    df = df[['id', 'regency_id', 'name']]
    all_data.append(df)
    
# Gabungkan semua dataframe
df_districts = pd.concat(all_data, ignore_index=True)
# Simpan ke file tanpa imbuhan prefix i
df_districts.to_csv(f"{file_name}.csv", index=False, encoding='utf-8')

In [83]:
import pandas as pd

# Nama file CSV hasil sebelumnya
table_name = "reg_districts"
file_name = f"2.{table_name}"
csv_file = f"{table_name}.csv"

# Baca CSV
df = pd.read_csv(csv_file)

# List untuk query SQL
sql_statements = []

# Buat query insert untuk setiap baris
for _, row in df.iterrows():
    id_val = row['id']
    regency_id_val = row['regency_id']
    name_val = row['name'].replace("'", "''")  # Escape tanda kutip tunggal

    sql = f"INSERT INTO {table_name} (id, regency_id, name) VALUES ('{id_val}', '{regency_id_val}', '{name_val}');"
    sql_statements.append(sql)

# Simpan ke file .sql
sql_file = f"{file_name}.sql"
with open(sql_file, "w", encoding="utf-8") as f:
    f.write("BEGIN;\n")
    f.write("\n".join(sql_statements))
    f.write("\nCOMMIT;")

print(f"File SQL berhasil dibuat: {sql_file}")

File SQL berhasil dibuat: 2.reg_districts.sql

In [84]:
file_name = "reg_villages"
all_data = []
# Loop prefix dari 93 sampai 96
for i in range(93, 97):  # 97 karena range atas eksklusif
    prefix = f"{i}.%"
    query = "SELECT kode, nama FROM wilayah WHERE kode LIKE %s AND CHAR_LENGTH(kode) > 8"
    df = pd.read_sql_query(query, engine, params=(prefix,))

    # Hapus karakter titik pada kolom 'kode'
    df['kode'] = df['kode'].str.replace('.', '', regex=False)

    # Tambahkan kolom district_id dari 6 digit pertama kolom 'kode'
    df['district_id'] = df['kode'].str[:6]

    # Ubah nama kolom
    df = df.rename(columns={'kode': 'id', 'nama': 'name'})

    # Urutkan kolom
    df = df[['id', 'district_id', 'name']]

    # Simpan ke CSV
    all_data.append(df)

# Gabungkan semua dataframe
df_villages = pd.concat(all_data, ignore_index=True)

# Simpan ke file tanpa imbuhan prefix i
df_villages.to_csv(f"{file_name}.csv", index=False, encoding='utf-8')

In [85]:
import pandas as pd

# Nama file CSV dan tabel SQL
table_name = "reg_villages"
file_name = f"3.{table_name}"
csv_file = f"{table_name}.csv"

# Baca CSV
df = pd.read_csv(csv_file)

# List untuk menyimpan perintah SQL
sql_statements = []

# Bangun query INSERT untuk tiap baris
for _, row in df.iterrows():
    id_val = row['id']
    district_id_val = row['district_id']
    name_val = row['name'].replace("'", "''")  # Escape kutip tunggal

    sql = f"INSERT INTO {table_name} (id, district_id, name) VALUES ('{id_val}', '{district_id_val}', '{name_val}');"
    sql_statements.append(sql)

# Simpan hasil query ke file .sql
sql_file = f"{file_name}.sql"
with open(sql_file, "w", encoding="utf-8") as f:
    f.write("BEGIN;\n")
    f.write("\n".join(sql_statements))
    f.write("\nCOMMIT;")

print(f"File SQL berhasil dibuat: {sql_file}")

File SQL berhasil dibuat: 3.reg_villages.sql